<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JourneyResultKey</key>
	<string>@object</string>
	<key>Journey</key>
	<dict>
		<key>@class</key>
		<string>CWJourney</string>
		<key>SequenceNo</key>
		<array>
			<string>sequenceNo</string>
			<string>NSNumber</string>
		</array>
		<key>RouteLink</key>
		<dict>
			<key>@class</key>
			<string>CWRouteLink</string>
			<key>@key</key>
			<string>+routeLinks</string>
			<key>DepDateTime</key>
			<array>
				<string>departure</string>
				<string>NSDate</string>
			</array>
			<key>ArrDateTime</key>
			<array>
				<string>arrival</string>
				<string>NSDate</string>
			</array>
			<key>DepTimeDeviation</key>
			<array>
				<string>departureDeviation</string>
				<string>NSNumber</string>
			</array>
			<key>ArrTimeDeviation</key>
			<array>
				<string>arrivalDeviation</string>
				<string>NSNumber</string>
			</array>
			<key>From</key>
			<dict>
				<key>@class</key>
				<string>CWPoint</string>
				<key>@key</key>
				<string>from</string>
				<key>Id</key>
				<array>
					<string>ID</string>
					<string>NSNumber</string>
				</array>
				<key>Name</key>
				<string>name</string>
				<key>StopPoint</key>
				<string>stopPoint</string>
			</dict>
			<key>To</key>
			<dict>
				<key>@class</key>
				<string>CWPoint</string>
				<key>@key</key>
				<string>to</string>
				<key>Id</key>
				<array>
					<string>ID</string>
					<string>NSNumber</string>
				</array>
				<key>Name</key>
				<string>name</string>
				<key>StopPoint</key>
				<string>stopPoint</string>
			</dict>
			<key>Line</key>
			<dict>
				<key>@class</key>
				<string>CWLine</string>
				<key>@key</key>
				<string>line</string>
				<key>Name</key>
				<string>name</string>
				<key>No</key>
				<string>number</string>
				<key>LineTypeName</key>
				<string>typeName</string>
				<key>Towards</key>
				<string>towards</string>
			</dict>
			<key>Deviation</key>
			<dict>
				<key>@class</key>
				<string>CWDeviation</string>
				<key>@key</key>
				<string>+deviations</string>
				<key>Header</key>
				<string>header</string>
				<key>ShortText</key>
				<string>shortText</string>
			</dict>
		</dict>
	</dict>
	<key>Message</key>
	<string>@object</string>
</dict>
</plist>
