<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ResultXML</key>
	<string>@object</string>
	<key>Part</key>
	<dict>
		<key>@class</key>
		<string>CWPart</string>
		<key>From</key>
		<dict>
			<key>@class</key>
			<string>CWPoint</string>
			<key>@key</key>
			<string>from</string>
			<key>Id</key>
			<array>
				<string>ID</string>
				<string>NSNumber</string>
			</array>
			<key>Name</key>
			<string>name</string>
			<key>Poi</key>
			<string>stopPoint</string>
			<key>X</key>
			<array>
				<string>x</string>
				<string>NSNumber</string>
			</array>
			<key>Y</key>
			<array>
				<string>y</string>
				<string>NSNumber</string>
			</array>
		</dict>
		<key>To</key>
		<dict>
			<key>@class</key>
			<string>CWPoint</string>
			<key>@key</key>
			<string>to</string>
			<key>Id</key>
			<array>
				<string>ID</string>
				<string>NSNumber</string>
			</array>
			<key>Name</key>
			<string>name</string>
			<key>Poi</key>
			<string>stopPoint</string>
			<key>X</key>
			<array>
				<string>x</string>
				<string>NSNumber</string>
			</array>
			<key>Y</key>
			<array>
				<string>y</string>
				<string>NSNumber</string>
			</array>
		</dict>
		<key>Line</key>
		<dict>
			<key>@class</key>
			<string>CWLine</string>
			<key>@key</key>
			<string>line</string>
			<key>Name</key>
			<string>name</string>
			<key>No</key>
			<string>number</string>
			<key>LinTName</key>
			<string>typeName</string>
		</dict>
		<key>X</key>
		<array>
			<string>x</string>
			<string>NSNumber</string>
		</array>
		<key>Y</key>
		<array>
			<string>y</string>
			<string>NSNumber</string>
		</array>
	</dict>
</dict>
</plist>
